.section{
    padding: 50px 100px;
}

.submit{
    width: 100%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.submit > h1{
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.submit > .button{
    width: 330px;
    height: 60px;
    border: none;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
}

.pustoy{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pustoy h1{
    color: var(--red);
    font-size: 3.5rem;
}

.pustoy h1:hover{
    color: var(--dark-blue);
}


