.section {
    max-width: 300px;
    min-height: 425px;
    padding: 20px;
    text-align: center;
    transform: scale(1);
    border-radius: 10px;
    display: inline-block;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transition: all 200ms ease-in;
    background-color: var(--white);
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);
}

.section>img {
    width: 200px;
}

.section:hover {
    z-index: 1;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
}

.actions {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.images {
    gap: 5px;
    display: flex;
    justify-content: center;
}

.images > img{
  width: 25px;
}

.section:hover .button {
    display: inline-block;
}

.button {
    cursor: pointer;
    padding: 10px 40px;
    border: none;
    display: none;
    color: var(--white);
    margin-bottom: 10px;
    box-shadow: 0px 4px 10px var(--dark-blue);
    background-color: var(--dark-blue);
}

.wrapper {
    margin: 0 auto;
  }
  
  .card_loader {
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08), 0 -1px 3px 0 rgba(0, 0, 0, 0.06);
    padding: 8px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
    height: 400px;
    overflow: hidden;
  }
  .card_loader:only-child {
    margin-top: 0;
  }
  .card_loader:before {
    content: "";
    height: 110px;
    display: block;
    background-color: #ededed;
    box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
  }
  .card_loader:after {
    content: "";
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
  }
  
  @keyframes loader-animate {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }

















