.section{
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);

    padding: 10px 20px;
    text-align: center;
}

.actions{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.images{
    gap: 5px;
    display: flex;
    justify-content: center;
}

.img__item{
    width: 20px;
}