.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

@media (max-width: 1500px) {
    .cards {
        grid-template-columns: auto;
    }
}