.pages {
    display: flex;
}

.button1 {
    z-index: 1;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    border: none;
    background: var(--dark-blue);
    padding: 10px 40px;
}

.transform {
    z-index: 3;
    margin: 0 -20px;
    width: 35px;
    cursor: pointer;
    transform: skew(30deg);
    background-color: var(--white);
}

.transform__revers {
    z-index: 3;
    margin: 0 -20px;
    width: 35px;
    cursor: pointer;
    transform: skew(-30deg);
    background-color: var(--white);
}

.marginL {
    margin-left: 40px;
}

.button2 {
    z-index: 3;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background: var(--white);
    padding: 10px 40px;
}

.block {
    width: 100%;
    padding: 60px;
    min-height: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);
}

.tovar__items {
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-between; */
}

.product__items {
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: space-between; */
}

@media (max-width: 480px) {

    .tovar__items,
    .product__items {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 380px) {

    .tovar__items,
    .product__items {
        grid-template-columns: auto auto auto;
    }
}