.card {
    width: 100%;
    display: flex;
    align-items: center;
}

.card > img{
    width: 63%;
}

.content{
    gap: 20px;
    display: flex;
    padding: 0 40px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.triangle{
    top: 5px;
    left: -29px;
    position: absolute;
	border-top: 15px solid transparent;
	border-right: 30px solid var(--white);
	border-bottom: 15px solid transparent;
}

.content > h1{
    text-transform: uppercase;
}

.content > p{
    width: 350px;
}

.blue{
    color: var(--dark-blue);
}

.card_icons{
    box-sizing: content-box;
    padding: 10px;
    color: var(--dark-blue);
    font-size: 2rem;
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
}

@media (max-width: 480px) {

}