.section {
    width: 100%;
}

.pages {
    display: flex;
}

.button1 {
    z-index: 1;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    border: none;
    background: var(--dark-blue);
    padding: 10px 40px;
}

.transform{
    z-index: 1;
    margin:0 -20px;
    width: 35px;
    cursor: pointer;
    transform: skew(30deg);
    background-color: var(--white);
}

.transform__revers{
    z-index: 1;
    margin:0 -20px;
    width: 35px;
    cursor: pointer;
    transform: skew(-30deg);
    background-color: var(--white);
}

.marginLe{
    margin-left: 40px;
}

.marginL{
    margin-left: 80px;
}

.button2 {
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background: var(--white);
    padding: 10px 40px;
}

.block {
    width: 100%;
    padding: 60px;
    min-height: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);
}

.block>h1 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
    color: var(--dark-blue);
}

.block>p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}

.items{
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* justify-content: space-between; */
}