.card__item{
    width: 100%;
}

.card_icons{
    box-sizing: content-box;
    padding: 10px;
    color: var(--dark-blue);
    font-size: 2rem;
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > img{
    width: 475px;
}

.content{
    gap: 20px;
    width: 476px;
    display: flex;
    padding: 60px;
    flex-direction: column;
}

@media (max-width: 1900px) {
    .card > img{
        width: 50%;
    }

    .content{
        width: 50%;
        padding:20px 60px;

    }
}

@media (max-width: 1590px) {
    .content > h1{
        font-size: 1.5rem;
    }

    .content > p{
        font-size: 1rem;
    }
}

@media (max-width: 1590px) {
    .content > h1{
        font-size: 1.5rem;
    }

    .content > p{
        font-size: 1rem;
    }
}

@media (max-width: 1050px) {
    .content{
        gap: 3px;
        padding:20px 30px;
    }
    .content > h1{
        font-size: 2rem;
    }

    .content > p{
        font-size: 1.2rem;
    }
}

@media (max-width: 720px) {
    .content{
        padding: 20px;
    }
    .content > h1{
        font-size: 1.2rem;
    }

    .content > p{
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .card_icons{
        padding: 5px;
        font-size: 1.5rem;
    }

    .content{
        padding: 10px;
    }
    .content > h1{
        font-size: 1rem;
    }

    .content > p{
        font-size: 0.5rem;
    }
}