.section{
    width: 100%;
    padding: 50px 100px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.left{
    min-height: 100vh;
    gap: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);

}

.section__left{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.button{
    border: none;
    width: 400px;
    height: 80px;
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 500;
    background-color: var(--dark-blue);
}

.payment{
    margin-top: 50px;
}


.right{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);
    padding: 40px;
    width: 100%;
}

.right > p{
    margin: 0 0 40px 75px;
}

.right > p > span{
    font-weight: 700;
}
