.carusel {
    width: 100%;
    height: 620px;
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0 50px;
    background-image: url(../../assets/bg1.png);
}

.carusel__icons {
    color: var(--white);
    padding: 10px;
    border: 1px solid var(--white);
    box-sizing: content-box;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.shorts__about {
    color: var(--white);
    width: 70%;
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.shorts__about>h1 {
    font-size: 3rem;
}

.shorts__about>p {
    font-weight: 500;
    font-size: 1.5rem;
}

.activate {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 70px;
}

.production,
.working,
.officially {
    display: flex;
    gap: 10px;
    align-items: center;
}

.production h2>span,
.working h2>span {
    font-size: 0.8rem;
    font-weight: 400;
}


.activate__icons {
    box-sizing: content-box;
    font-size: 2rem;
    border-radius: 50%;
    padding: 20px;
    color: var(--dark-blue);
    background-color: var(--white);
}

@media (max-width: 1900px) {
    .carusel {
        width: 100%;
    }
}

@media (max-width: 1500px) {
    .shorts__about>h1 {
        font-size: 2.5rem;
    }

    .shorts__about p {
        font-weight: 400;
        font-size: 1rem;
    }

    .activate {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1230px) {

    .shorts__about>h1 {
        font-size: 2.5rem;
    }

    .shorts__about p {
        font-weight: 400;
        font-size: 1rem;
    }

    .activate {
        grid-template-columns: auto auto;
        column-gap: 0;
        row-gap: 30px;
    }
}

@media (max-width: 1000px) {

    .carusel__icons{
        display: none;
    }

    .shorts__about{
        gap: 10px;
    }
}