.main{
    width: 100%;
    position: relative;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    padding: 10px 100px;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #EFEFEF;

}

.working__time {
    gap: 5px;
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 220px;
}

.header__icons {
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.working__time__item {
    font-size: 16px;
    font-weight: 600;
    line-height: 20.4px;
}

.working__time__item > p{
    font-weight: 500;
}

.our__salons {
    gap: 5px;
    display: flex;
    font-weight: 500;
    align-items: center;

}

.our__salons>a {
    color: var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue);
}

.our__salons>a:hover{
    color: var(--blue);
    border-color:  var(--blue);
}

.contacts {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

.odel__prodaj {
    display: flex;
    justify-content: center;
}

.headerPhone__icons {
    padding: 0 5px;
    margin-top: 4px;
    box-sizing: content-box;
}

.phone__number{
    font-weight: 600;
}

.phone__number > p{
    font-weight: 500;
}

.phone__number > h4{
    font-weight: 500;
    color: var(--brown);
}

.russian__conversation {
    display: flex;
    justify-content: center;
}

.open__close{
    display: none;
    font-size: 3rem;
    fill: var(--dark-blue);
}

.responsive__main{
    display: none;
}

@media (max-width: 1050px) {
    .responsive__main{
        text-align: center;
        top: 118px;
        left: 0;
        width: 100%;
        z-index: 999;
        height: 1200vh;
        display: block;
        position: absolute;
        background-color: rgba(32, 3, 129, 0.735);

    }

    .responsive__header{
        gap: 50px;
        display: flex;
        height: 200vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        border-radius: 0 0 120px 120px ;
    }

    .worcking___time{
        display: flex;
        box-sizing: content-box;
    }

    .our___salons {
        margin-top: 30px;
        gap: 20px;
        display: flex;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }
    
    .our___salons>a {
        font-size: 3rem;
        color: var(--dark-blue);
        border-bottom: 2px solid var(--dark-blue);
    }

    .header___icons{
        font-size: 3.5rem;
        color: var(--dark-blue);
    }

    .headerPhone__icons{
        font-size: 2.5rem;
    }

    .call__centers h4{
        font-size: 3rem;
        color: var(--brown);
    }

    .Link{
        font-size: 3rem;
        color: black;
        font-weight: 600;
    }

    .responsive__header p{
        font-size: 3rem;
    }

    .responsive__pages > ul{
        gap: 30px;
        display: flex;
        flex-direction: column;
    } 

    .oddel{
        color: var(--gray);
    }

    .ruscaya__call > p{
        margin-left: 20px;
        color: var(--gray);
    }


    .call__centers{
        display: flex;
    }

    .working__time,
    .contacts{
        display: none;
    }

    .open__close{
        display: inline-block;
    }
}