.card_icons{
    box-sizing: content-box;
    padding: 10px;
    color: var(--dark-blue);
    font-size: 2rem;
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
}

.top,
.bottm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top > img,
.bottm > img{
    width: 475px;
}

.content{
    gap: 20px;
    width: 476px;
    display: flex;
    padding: 60px;
    flex-direction: column;
}