.footer__header {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}

.footer__header p {
    color: var(--gray);
}

.creator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.creator>h1 {
    display: flex;
    color: var(--blue);
    align-items: center;
    justify-content: center;
}

.reverse__icon {
    padding: 0 10px;
    color: var(--red);
    box-sizing: content-box;
}

.creator>h1>span {
    color: var(--black);
}

.footer__start {
    display: flex;
    padding: 40px 0;
    align-items: flex-start;
    justify-content: space-between;
}

.bloks {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.bloks>h1 {
    font-weight: 500;
    font-size: 1.5rem;
}

.bloks>a,
.bloks>p {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

.link {
    gap: 25px;
    display: flex;
    margin-top: 5px;
    font-weight: 700;
    color: var(--gray);
    flex-direction: column;
}

.link>a {
    color: var(--dark-blue);

}

.prophecy {
    gap: 20px;
    display: flex;
    margin-top: 40px;
}

.footer__end {
    color: var(--gray);
    padding: 20px 0;
    font-size: 1.3rem;
    text-align: center;
}

.footer__end__item{
    display: none;
}

.creator__end{
    display: none;
}

@media (max-width: 480px) {
    .footer__header {
        gap: 100px;
        padding: 30px;
        flex-direction: column-reverse;
    }

    .footer__header>p {
        font-size: 3.7rem;
    }

    .footer__header>img {
        width: 50%;
        margin-top: 20px;
    }

    .creator {
        display: none;
    }


    .footer__start {
        display: grid;
        grid-template-columns: auto auto;
        padding: 40px 140px;
        row-gap: 70px;
    }

    .bloks{
        gap: 30px;
    }

    .bloks > h1{
        font-size: 3.5rem;
    }

    .bloks > a{
        font-size: 2.3rem;
        color: var(--gray);
    }

    #bloks{
        display: none;
    }

    .footer__end__item{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer__end__item a{
        width: 100%;
        font-size: 5rem;
        padding: 20px 0;
    }

    .footer__end__item > 
    .prophecy{
        margin: 0 auto;
        padding: 100px 0;
    }

    .prophecy > img{
        margin-top: 50px;
        box-sizing: content-box;
        padding: 20px;
        width: 400px;
    }

    #border{
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
    }

    .footer__end{
        padding: 50px 35px;
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
    }

    .footer__end > p{
        font-size: 2.5rem;
    }

    .creator__end{
        display: flex;
        color: var(--blue);
        align-items: center;
        justify-content: center;
        font-size: 3.4rem;
        padding: 50px 0;
    }

    .creator__end > p{
        color: var(--gray);
    }

    .creator__end >h1>span {
        color: var(--black);
    }
}