.section {
    width: 100%;
}

.two__section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
}

.two__section>h2,
.two_section>h2 {
    width: 450px;
    font-weight: 400;
    text-align: center;
    color: var(--dark-blue);
}

.two_section>p {
    width: 450px;
    color: gray;
    font-weight: 400;
    text-align: center;
}

.two_section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
}

.card__item {
    width: 100%;
}

.card_icons {
    padding: 20px;
    font-size: 2rem;
    margin-top: 40px;
    border-radius: 50%;
    color: var(--brown);
    box-sizing: content-box;
    border: 1px solid var(--brown);
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
}

.card>img {
    width: 50%;
    height: 20rem;
}

.content,
.content2 {
    gap: 30px;
    width: 50%;
    height: 20rem;
    display: flex;
    padding: 40px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.content>span {
    top: 30px;
    left: -29px;
    position: absolute;
    border-top: 15px solid transparent;
    border-right: 30px solid var(--white);
    border-bottom: 15px solid transparent;
}

.content2>span {
    top: 30px;
    right: -29px;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 30px solid var(--white);
    border-bottom: 15px solid transparent;
}

.content>p {
    font-size: 20px;
}

.blue {
    color: var(--dark-blue);
}

.content2>p {
    font-size: 20px;
}

.content>h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.content2>h1 {
    font-size: 25px;
    text-transform: uppercase;
}

#interesno,
#information {
    display: none;
}

@media (max-width: 1810px) {
    .cards {
        grid-template-columns: auto;
    }

    .two__section {
        display: none;
    }
    
    .two__section>h2,
    .two_section>h2 {
        width: 450px;
        font-weight: 400;
        text-align: center;
        color: var(--dark-blue);
    }

    #interesno,
    #information {
        display: block;
        padding: 50px 0;
        font-weight: 400;
        text-align: center;
        font-size: 3rem;
        color: var(--black);
        text-transform: uppercase;

    }

    .card>img {
        height: 30rem;
    }

    .content{
        gap: 10px;
    }

    .content2{
        gap: 10px;
        align-items: flex-end;
    }

    .content > h1{
        font-size: 3.5rem;
    }

    .content > p{
        font-size: 2.5rem;
    }

    .content2 > h1{
        text-align: end;
        font-size: 3.5rem;
    }

    .content2 > p{
        text-align: flex-end;
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .section {
        width: 1500px;
    }

    .two_section {
        margin: 150px 0 130px;
        flex-direction: column;
    }

    .two_section>h2 {
        padding: 50px 0;
        font-size: 4rem;
        width: 1500px;
        border-bottom: 1px solid var(--gray);
    }

    .two_section>p {
        display: none;
    }

    .content{
        align-items: flex-start;
    }

    .content > h1{
        text-align: left;
        font-size: 4rem;
    }

    .content > p{
        text-align: left;
        font-size: 2rem;
    }

    
}