*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);
    padding: 10px 0;
    position: relative;
    max-width: 1900px;
    min-height: 100vh;
    margin: 0 auto 50px;
}

:root{
    --white: white;
    --black: black;
    --yellow: yellow;
    --green: green;
    --blue: blue;
    --dark-blue: #004583;
    --aqua: aqua;
    --red: red;
    --brown: brown;
    --pink: pink;
}