@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    margin: 0 auto;
    padding: 10px 0;
    overflow: auto;
    width: 1900px;
    min-height: 100vh;
    position: relative;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.152);
}

:root{
    --white: white;
    --gray: gray;
    --black: black;
    --yellow: yellow;
    --green: green;
    --blue: blue;
    --dark-blue: #004583;
    --aqua: aqua;
    --red: red;
    --brown: brown;
    --pink: pink;
}

@media (max-width: 480px) {
    body{
        width: 1500px;
    }
}